.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.selection-container {
	display: grid;
	padding-top: 1em;
	grid-template-columns: 19.75% 19.75% 19.75% 19.75% 19.75%;
	grid-gap: 30px;
	width: 45%;
}

@media only screen and (max-width: 1400px) {
	.selection-container {
		grid-template-columns: 33% 33% 33%;
	}
}

@media only screen and (max-width: 900px) {
	.selection-container {
		width: 100%;
		grid-template-columns: 100%;
	}
}
